<!DOCTYPE html>
<html>
<head>
	<title>Desease</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
</head>
<body>
	<div style="padding: 5vh">
		<div class="row">
			<div class="card" style="width: 40vh; height: 50vh; margin-left: 7vh;">
				<img src="../public/images/doctor.png" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Loreum Ipsum</h4>
					<p class="card-text" style="overflow: hidden; height: 10vh;">The hospital Management system provides the benefits of streamlined operations, enhanced administration & control, strict cost control, excellent patient care and improved profitability.</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 50vh; margin-left: 7vh;">
				<img src="../public/images/doctor.png" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Loreum Ipsum</h4>
					<p class="card-text" style="overflow: hidden; height: 10vh;">The hospital Management system provides the benefits of streamlined operations, enhanced administration & control, strict cost control, excellent patient care and improved profitability.</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 50vh; margin-left: 7vh;">
				<img src="../public/images/doctor.png" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Loreum Ipsum</h4>
					<p class="card-text" style="overflow: hidden; height: 10vh;">The hospital Management system provides the benefits of streamlined operations, enhanced administration & control, strict cost control, excellent patient care and improved profitability.</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 50vh; margin-left: 7vh;">
				<img src="../public/images/doctor.png" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Loreum Ipsum</h4>
					<p class="card-text" style="overflow: hidden; height: 10vh;">The hospital Management system provides the benefits of streamlined operations, enhanced administration & control, strict cost control, excellent patient care and improved profitability.</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

		</div>

		<div class="row" style="margin-top: 5vh;">
			<div class="card" style="width: 40vh; height: 50vh; margin-left: 7vh;">
				<img src="../public/images/doctor.png" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Loreum Ipsum</h4>
					<p class="card-text" style="overflow: hidden; height: 10vh;">The hospital Management system provides the benefits of streamlined operations, enhanced administration & control, strict cost control, excellent patient care and improved profitability.</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 50vh; margin-left: 7vh;">
				<img src="../public/images/doctor.png" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Loreum Ipsum</h4>
					<p class="card-text" style="overflow: hidden; height: 10vh;">The hospital Management system provides the benefits of streamlined operations, enhanced administration & control, strict cost control, excellent patient care and improved profitability.</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 50vh; margin-left: 7vh;">
				<img src="../public/images/doctor.png" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Loreum Ipsum</h4>
					<p class="card-text" style="overflow: hidden; height: 10vh;">The hospital Management system provides the benefits of streamlined operations, enhanced administration & control, strict cost control, excellent patient care and improved profitability.</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 50vh; margin-left: 7vh;">
				<img src="../public/images/doctor.png" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Loreum Ipsum</h4>
					<p class="card-text" style="overflow: hidden; height: 10vh;">The hospital Management system provides the benefits of streamlined operations, enhanced administration & control, strict cost control, excellent patient care and improved profitability.</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>
		</div>


	</div>

</body>
</html>