<!DOCTYPE html>
<html>
<head>
	<title>Disease</title>
	<style>
		div>div>p{
			height: 10vh;
		}
	</style>
</head>
<body>

	<div>
		<% include navbar.ejs ;%>
	</div>

	<div style="background-color: orange;width: 100%; margin-top: 11vh; padding:1vh;">
		<h1 style="text-align: center;color: white;">Diseases</h1>
	</div>

	<div style="padding: 5vh; margin-top: 5vh;">
		<div class="row">
			<div class="card" style="width: 40vh; height: 60vh; margin-left: 7vh;">
				<img src="images/absence.jpg" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Absence Siezures</h4>
					<p class="card-text" style="overflow: hidden;">An Absence seizure is a generalized seizure characterized by loss and return of consciousness; it’s generally not followed by a period of lethargy (i.e. without a notable</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 60vh; margin-left: 7vh;">
				<img src="images/vector_borne.jpeg" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Vector borne seasonal infectious disease GIS map</h4>
					<p class="card-text" style="overflow: hidden;">Hotspots for Seasonal Diseases - Epidemiology in your city!</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 60vh; margin-left: 7vh;">
				<img src="images/acute_coronary.jpg" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Acute Coronary Syndrome</h4>
					<p class="card-text" style="overflow: hidden;">Overview Acute Coronary Syndrome ACS or Acute Coronary Syndrome is an umbrella term for all the conditions that result in a sudden decreased blood flow to the heart. The most.</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 60vh; margin-left: 7vh;">
				<img src="images/acromegaly.jpg" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Acromegaly</h4>
					<p class="card-text" style="overflow: hidden;">Overview of Acromegaly Acromegaly is an extremely rare hormonal disease. It develops when a tumor of the pituitary, a small gland in the brain, produces excess</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

		</div>

		<div class="row" style="margin-top: 5vh;">
			<div class="card" style="width: 40vh; height: 60vh; margin-left: 7vh;">
				<img src="images/acanthosis.jpg" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Acanthosis Nigricans</h4>
					<p class="card-text" style="overflow: hidden;">Overview of Acanthosis nigricans  Acanthosis nigricans is a common skin disorder, it is usually found in body folds, such as armpits, groin, navel,</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 60vh; margin-left: 7vh;">
				<img src="images/abdominal.jpg" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Abdominal Aortic Aneursysm</h4>
					<p class="card-text" style="overflow: hidden;">Overview Aorta is the largest blood vessel in the human body that carries blood from heart up to your head and arms and down to abdomen, legs, and pelvis. Abdominal aortic</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 60vh; margin-left: 7vh;">
				<img src="images/thyroid.jpg" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Thyroid</h4>
					<p class="card-text" style="overflow: hidden;">What is Thyroid? Thyroid Gland is a butterfly-shaped gland located in front of the neck below Adam’s apple. Thyroid gland is responsible for regulating various metabolic.</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>

			<div class="card" style="width: 40vh; height: 60vh; margin-left: 7vh;">
				<img src="images/erectle.jpg" class="card-img-top" alt="doctor image" height="200">
				<div class="card-body">
					<h4 class="card-title">Erectile Dysfunction</h4>
					<p class="card-text" style="overflow: hidden;">What is Erectile Dysfunction? Commonly termed as impotence, erectile dysfunction or ED is related to sexual dysfunction in males. The most prominent characteristic of this</p>
					<a href="#"><button type="btn" class="btn btn-primary">View More</button></a>
				</div>
			</div>
		</div>

	</div>

	<div>
		<% include footer.ejs %>
	</div>

</body>
</html>