<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Patient Treatment</title>

    <!-- Icons font CSS-->
    <link href="/treatment/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/treatment/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/treatment/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/treatment/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
    <!-- Include the above in your HEAD tag -->

    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <!-- Main CSS-->
    <link href="/treatment/css/main.css" rel="stylesheet" media="all">

    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>

    <style>
/*.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  /*padding: 12px 30px;*/
 /*  cursor: pointer;
  font-size: 20px;
}
 */
/* Darker background on mouse-over */
/*.btn:hover {
  background-color: RoyalBlue;
}
*/
    /*.input-group .label:after {
    content:"*";
    color:red;
    }
    */

    input[type="text"], input[type="date"], input[type="file"]{
      font-size: 16px;
      margin: 2px 4px;
    }

    #uploadFile{
      background-color: red;
    }

    </style>

</head>

<body>

    <div>
      <% include navbar.ejs ;%>
    </div>

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4" style="width: 1000px; margin-left:-150px;">
                <div class="card-body">
                    <h2 class="title">Patient Treatment Information</h2>
                    <form method="post" enctype="multipart/form-data" action="/treatment">
                        <div class="row row-space">
                            <!-- <div class="col-sm-10">
                                <div class="input-group" style="margin-left: -150px;">
                                    <label class="label" style="font-size:18px;">patient name</label>
                                    <input class="input--style-4" type="text" name="pat_name" placeholder="Enter patient name">
                                </div>
                            </div> -->
                            <div class="col-sm-10" style="margin-left:-21vh;">
                                <div class="input-group">
                                    <label class="label" style="font-size:18px;">patient id</label>
                                    <input class="input--style-4" type="text" name="pat_id" placeholder="Enter patient id">
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-10" style="margin-left:-3vh;">
                          <div class="input-group">
                            <label class="label" style="font-size:18px;">Disease:</label>
                            <input class="input--style-4" type="text" name="treat_name" placeholder="Enter treatment Name">
                          </div>
                        </div>

                        <div class="input-group">
                            <label class="label">Treatment details</label>
                            <!--<div class="p-t-10">
                                <textarea class="form-control" rows="10" cols="80" id="treat-details"></textarea>
                            </div>-->
                        </div>
                        <div class="row clearfix" style="font-size:18px;">
                    		<div class="col-md-12 column">
                    			<table class="table table-bordered table-hover" id="tab_logic">
                    				<thead>
                    					<tr >
                    						<th class="text-center">
                    							#
                    						</th>
                    						<!-- <th class="text-center">
                    							Date
                    						</th> -->
                    						<th class="text-center">
                    							Symptoms
                    						</th>
                    						<!-- <th class="text-center">
                    							Description
                    						</th> -->
                    					</tr>
                    				</thead>
                    				<tbody>
                    					<tr id='addr0'>
                    						<td>
                    						1
                    						</td>
                    						<!-- <td>
                    						<input type="date" name='date0'  placeholder='Date' class="form-control"/>
                    						</td> -->
                    						<td>
                    						<input type="text" name='symptoms0' placeholder='Symptoms' class="form-control"/>
                    						</td>
                    						<!-- <td>
                    						<input type="text" name='description0' placeholder='Description' class="form-control"/>
                    						</td> -->
                    					</tr>
                              <tr id='addr1'></tr>
                              <input type="hidden" name="symptoms_count" id="symptoms_count" value="1">
                    				</tbody>
                    			</table>
                    		</div>
                    	</div>
                      <!--<div class="container-->
                      <div class="p-t-10">
                    </div>
                    	<button type="button" class="btn btn--radius-2 "><a id="add_row"><i class="fa fa-plus"></i></a></button>
                      <button type="button" class="btn btn--radius-2"><a id='delete_row' ><i class="fa fa-minus"></i></a></button>

                      <div style="margin-top:2vh;">
                        <label><h1>Description</h1></label>
                        <input type="text" class="form-control" name="description" style="padding:2vh;" placeholder="Enter a description" required>  
                      </div>

                        <label class="label" style="margin-top:40px;">doctors involved in treatment :</label>
                        <!--<div id="text-div" class="input-style-4">-->
                          <div class="row clearfix">
                      		<div class="col-md-12 column" style="font-size:18px;">
                      			<table class="table table-bordered table-hover" id="doc_add">
                      				<thead>
                      					<tr >
                      						<th class="text-center">
                      							#
                      						</th>
                      						<th class="text-center">
                      							ID
                      						</th>
                      						<th class="text-center">
                      							Name
                      						</th>
                      					</tr>
                      				</thead>
                      				<tbody>
                      					<tr id='add0'>
                      						<td>
                      						1
                      						</td>
                      						<td>
                      						<input type="text" name='id0'  placeholder='ID' class="form-control"/>
                      						</td>
                      						<td>
                      						<input type="text" name='nam0' placeholder='Name' class="form-control"/>
                      						</td>
                      					</tr>
                                <tr id='add1'></tr>
                                <input type="hidden" name="doctorsCount" id="doctorsCount" value="1">
                      				</tbody>
                      			</table>
                      		</div>

                        </div>
                        <div class="p-t-10">
                        <button type="button" class="btn btn--radius-2"><a id="addNewInput"><i class="fa fa-plus"></i></a></button>
                      </div>
                        <!--<button type="button" id="getAllInputData" name="button">Get Data</button>-->
                      </div>
                      
                      <!-- <div class="col-sm-10">
                          <div class="input-group">
                              <label class="label">medical reports :</label>
                                  <button class="btn btn-radius-2 btn-blue" style="position:absolute; padding:15px 25px; margin-top:-20px; margin-left:150px; font-size:16px; border-radius:50px 50px;"><i class="fa fa-download"></i> Download</button>
                          </div>
                      </div>
 -->
                        <div style="margin-left:2vh; width:250px;">
                          <label style="font-size:18px;">Upload a file</label>
                          <input id="uploadFiles" type="file" name="fileUpload" multiple>
                        </div>

                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit" style="position:absolute; padding:15px 25px; margin-top: -70px; font-size:16px; border-radius:50px 50px;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  <!--  </div>-->

    <!-- Jquery JS-->
    <script src="/treatment/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/treatment/vendor/select2/select2.min.js"></script>
    <script src="/treatment/vendor/datepicker/moment.min.js"></script>
    <script src="/treatment/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/treatment/js/global.js"></script>
    <script type="text/javascript">
        $(function() {
          $("#addNewInput").on('click', function() {
            $("#text-div").append("<input id='input-field' name='name'></input>");
            $('#text-div').children().last().focus();
          });

          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
          });

      var i=1;
     $("#add_row").click(function(){

      $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input  name='symptoms"+i+"' type='text' placeholder='Symptoms'  class='form-control input-md'></td>");

      // console.log("<td>"+ (i+1) +"</td><td><input name='date"+i+"' type='date' placeholder='Date' class='form-control input-md'> </td><td><input  name='name"+i+"' type='text' placeholder='Symptoms'  class='form-control input-md'></td><td><input  name='description"+i+"' type='text' placeholder='Description'  class='form-control input-md'></td>");

      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      i++;
      document.getElementById('symptoms_count').value = i;
  });
     $("#delete_row").click(function(){
      i = document.getElementById('symptoms_count').value;      
    	 if(i>1){
		 $("#addr"+(i-1)).html('');
		 i--;
     document.getElementById('symptoms_count').value = i;
		 }
     // document.getElementById('symptoms_count').value = i;
     // console.log(i);
	 });
   var j=1;
   $("#addNewInput").click(function(){

    $('#add'+j).html("<td>"+ (j+1) +"</td><td><input name='id"+j+"' type='text' placeholder='ID' class='form-control input-md'  /> </td><td><input  name='nam"+j+"' type='text' placeholder='Name'  class='form-control input-md'></td>");

    $('#doc_add').append('<tr id="add'+(j+1)+'"></tr>');
    j++;

    document.getElementById('doctorsCount').value = j;

        console.log(j);
});
          /*$("#getAllInputData").on('click', function() {
            var a = $('#text-div').children()
            for(var i = 0; i < a.length; i++) {
              console.log(a[i].value)

            }
          })
          */
        });
        
    </script>
</body>
</html>
<!-- end document-->
